body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b2c9d8;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #001e3b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
    background-color: #34495e;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #2ecc71;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.operator {
    background-color: #e74c3c;
}

.double {
    grid-column: span 2;
}
